.banner {
    background-image: url('/storage/image/banner-elibrary.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
    width: 100%;
    overflow-y: hidden;
}